.case-study-card {
	background-color: white;
	padding: 1.5rem;
	height: 350px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	margin: 1rem 0;
	overflow: hidden;
	
	@include respond-to('md'){
		margin: 1rem 0;
	}	
		

	img {
		height: 60%;
		width: 100%;
		object-fit: cover;				
	}
	
	&__title {
		display: flex;
		overflow: hidden;
		max-height: 4.5em;
		margin: 1rem 0;
		
		a {
			color: black;
			text-transform: uppercase;
			@include _roboto-condensed-bold;
			font-size: 1.5rem;
			line-height: 1.5rem;			
		}
	}
	
	&__category a {
		color: $red;
		margin: 0;
	}
}