@mixin global-padding {
	padding: 3rem 1rem;
	@include respond-to('md'){
		padding: 3rem 10rem;
	}	
}

@mixin horizontal-center {
	display: flex;
	justify-content: center;
}

@mixin no-margins {
	padding: 0;
	margin: 0;
}

.no-margins {
	@include no-margins;
}

.generic {
	@include global-padding;
	width: 100%;
}

.horizontal-center {
	@include horizontal-center;
}

.bg-light-grey {
	background-color: $light-grey;
}

.bg-red {
	background-color: $red;
}

a:hover {
	text-decoration: none;
}