.checklist-container {
	width: 100%;
	@include respond-to('lg'){
		width: 60%;	
	}
}

.checklist {
	column-count: 2;
	column-gap: 10%;
	margin: 0;
	@include respond-to('lg'){
		column-count: 2;
		column-gap: 10%;
		margin: 2rem 0;
	}
}

.checklist-item {
	text-align: left;
	color: $red;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	list-style-type: none;
	list-style-image: url('../assets/images/checkmark.png');
}