.executive-profiles-wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: $light-grey;
}

.executive-profiles-intro {
	padding: 1rem 0;
	text-align: center;
	margin: 0 auto;
}

.president-wrapper {
	position: relative;
	margin: 0 9px;
	@media screen and (min-width: 1440px) {
		height: 450px;
	}
}

.president-profile {
	flex-grow: 1;
	width: 100%;
	color: white;
	height: 100%;
	background-position: center left;
	background-color: $light-grey;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;
	
	@include respond-to('lg'){
		background-position: center top;
		position: absolute;
		width: 50%;
		clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
		&:hover {
			opacity: 0;	
		}
	}

}

.president-hover {
	display: none;
	
	@include respond-to('lg'){
		display: block;
		z-index: 0;
		width: 100%;
		height: 100%;
		flex-grow: 1;
		background-position: center;
		background-size: cover;
		position: absolute;		
		width: 50%;
		clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
	}
	@media screen and (min-width: 1440px) {
		background-position: inherit;
	}
}


.president-description {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	background-color: $light-grey;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2rem;
	@include respond-to('lg'){
		width: 50%;
		padding: 5rem;
		float: right;
	}	
	.ep-position {
		color: $red;
	}
}


.ep-individual-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	@include respond-to('lg'){
		width: 33.33%;
	}	
}

.executive-profile {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	color: white;
	padding: 2rem;
	display: flex;
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index: 3;
	border-bottom: 10px solid $light-grey;
	border-top: 10px solid $light-grey;
	
	@include respond-to('lg'){
		border-right: 10px solid $light-grey;
		border-left: 10px solid $light-grey;
		border-bottom: 10px solid $light-grey;
		border-top: 15px solid $light-grey;
		&:hover {
			opacity: 0;	
		}
	}	
	
	.ep-description {
		text-align: center;
		align-self: flex-end;
		text-shadow: 2px 2px 2px #000000;
		margin: 0 auto;
		p {
			margin-bottom: 0;
		}
	}
}

.ep-hover {
	display: none;
	border-bottom: 10px solid $light-grey;
	border-top: 10px solid $light-grey;
	@include respond-to('lg'){
		border-right: 10px solid $light-grey;
		border-left: 10px solid $light-grey;
		border-bottom: 10px solid $light-grey;
		border-top: 15px solid $light-grey;
		display: block;
		z-index: 2;
		width: 100%;
		height: 100%;
		flex-grow: 1;
		background-position: center;
		position: absolute;	
		background-repeat: no-repeat;
		background-size: cover;
	}
}
