.flex-row {
	display:flex;
	flex-wrap: wrap;
	@include respond-to('md'){
		height: 500px;
	}	
}

.flex-column-2 {
	display: flex;
	flex: 100%;
	flex-grow: 1;
	height: auto;
	justify-content: center;
	@include respond-to('md'){
		flex: 50%;
		height: 500px;
	}	
	img {
	    max-width: 100%;
	    max-height: 100%;
	    object-position: center center;
	    
	    &.logo {
		    object-fit: contain;
		    padding: 5rem;
	    }
	    &.other {
		    object-fit: cover;
		    max-height: initial;
	    }
	    
	}
}

.tcb_cta {
	display:flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: center;
	background-position:center;
	background-size: cover;
	@include respond-to('md'){
		padding: 5rem;
	}
	&.primary {
		background-color: #a8a8a8;
		background-blend-mode: screen;		
	}	
	&.secondary {
		color: white;
		text-align: center;
		background-color: #383838;
		background-blend-mode: overlay;
	}
}

.cta_text_full {
	width: 80%;
	margin: 0 auto;
}

.tcb_cta_link {
	display: flex;
	justify-content: center;
	align-content: center;
}

.business-logos-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	color: $red;
	@include respond-to('md'){
		padding: 5rem;
	}	
}

.business-logos {
	display: flex;
}

.business-logos-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	li {
		display: flex;
		margin: 0 1rem;
		list-style: none;
		flex: 1 0 30%;
		@include respond-to('md'){
			flex: 1 0 15%;
		}		
		img {
			width: 150px;
			height: 150px;
			object-fit: contain;
		}
	}
}

.business-logos-list-full {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
	
	li {
		display: flex;
		margin: 0 1rem;
		list-style: none;		
		img {
			width: 150px;
			height: 150px;
			object-fit: contain;
		}
	}
}

.fc_brands_block {
	padding: 2rem 0;
	&.primary {
		background-color: #383838;
		background-blend-mode: overlay;
		background-position: bottom;
	}
	&.secondary {
		background-color: $dark-grey;
		color: white;
		text-align: center;
	}
}

#red-logo-line {
	width: 83%;
	display: flex;
	margin-left: 10%;
}

#red-logo-white {
	width: 200px;
	margin-left: 44%;
	display: flex;
	padding: 1rem;
}