.flex-row {
	display:flex;
	flex-wrap: wrap;
	@include respond-to('lg'){
		min-height: 500px;
		max-height: 600px;
	}
	@include respond-to('xl'){
		max-width: 2000px;
		margin: 0 auto;	
	}
	&:nth-child(even) {
		flex-direction:column-reverse !important;
		@include respond-to('lg'){
			flex-direction:row !important;
		}
	}
	&.contact:nth-child(even) {
		flex-direction:row-reverse !important;
	}
}


.flex-column-2 {
	display: flex;
	flex: 100%;
	flex-grow: 1;
	min-height: auto;
	@include respond-to('lg'){
		flex: 50%;
		min-height: 500px;
		max-height: 600px;
	}
	@include respond-to('xl'){
		max-width: 2000px;
		margin: 0 auto;
	}
	.tcb-image {
		max-height: 100%;
		min-height: 400px;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		a {
			display: flex;
		}
	}
	img, .tcb-image > a > img {
	    max-width: 100%;
	    max-height: initial;
	    object-position: center center;
	    
	    &.logo {
		    object-fit: contain;
		    height: 70%;
		    width: 70%;
		    margin: 0 auto;
	    }
	    &.other {
		    object-fit: cover;
		    height: 100%;
		    width: 100%;
	    }
	    
	}
}

.flex-column-5 {
	flex: auto;
	width: 100%;
	@include respond-to('md'){
		width: 40%;
	}	
	@include respond-to('lg'){
		flex: 0 0 20%;
	}	
}

.meet-the-group-container {
	@include respond-to('lg'){
		.flex-row:last-of-type {
			min-height: 800px;
			max-height: 800px;
			.flex-column-2 {
				min-height: 800px;
				max-height: 800px;
				.tcb-image {
					.logo {
						margin-bottom: 6rem;
					}
				}
			}
		}
		
	}
}


.tcb_cta {
	display:flex;
	flex-direction: column;
	padding: 3rem 2rem 2rem 2rem;
	justify-content: center;
	background-position:center;
	background-size: cover;
	@include respond-to('lg'){
		padding: 5rem;
	}

	&.primary {
		background-color: #a8a8a8;
		background-blend-mode: screen;	
		width: 100%;
		min-height: 400px;
	}	
	&.secondary {
		color: white;
		text-align: center;
		background-color: #383838;
		background-blend-mode: overlay;
		width: 100%;
	}
}

.cta_text_full {
	width: 80%;
	margin: 0 auto;
}

.tcb_cta_link {
	display: flex;
	justify-content: center;
	align-content: center;
}

.business-logos-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	color: $red;
	@include respond-to('lg'){
		padding: 3rem 0;
	}	
}

.business-logos {
	display: flex;
}

.business-logos-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	li {
		display: flex;
		margin: 0 1rem;
		list-style: none;
		flex: 1 0 30%;
		@include respond-to('md'){
			flex: 1 0 20%;
		}		
		
		@include respond-to('lg'){
			flex: 1 0 17%;
		}
	
		img {
			width: 100px;
			height: 100px;
			object-fit: contain;
		}
	}
}

.business-logos-list-full {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 auto;
	justify-content: center;
	li {
		display: flex;
		margin: 0 1rem;
		list-style: none;		
		img {
			width: 100px;
			height: 100px;
			object-fit: contain;
			@include respond-to('lg'){
				width: 150px;
				height: 150px;
			}					
		}
	}
}

.business-info {
	padding: 5rem 2rem;
	justify-content: left;
	flex: 1;
	.business-name {
		padding-bottom: 1rem;
		display: inline-block;
	}
	a {
		color: $red;
		text-transform: uppercase;
		&.email-link {
			color: black;
			text-transform: inherit;
			@include _montserrat-light;
			
			&:hover {
				color: $red;
			}
		}
		span {
			font-size: 2rem;
			font-family:monospace;		
			padding-left: 0.5rem;	
		}
	}

}

.fc_brands_block {
	padding: 2rem 0;
	@include respond-to('xl'){
		max-width: 2000px;
		margin: 0 auto;
	}	
	&.primary {
		background-color: #383838;
		background-blend-mode: overlay;
		background-position: bottom;
	}
	
	&.bg-red {
		background-color: $red;
		color: white;
	}
	&.bg-grey {
		background-color: $dark-grey;
		color: white;
	}
	&.secondary {
		text-align: center;
	}
}

#red-logo-line {
	display: none;
	@include respond-to('lg'){
		width: 83%;
		display: flex;
		margin-left: 10%;
	}	
}

#red-logo-white {
	width: 200px;
	margin-left: 44%;
	display: flex;
	padding: 1rem;
}

.team-member-portrait {
	border-radius: 50%;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 1rem 0;
}

.team-member-name {
	margin: 0;
}

.team-member-position {
	color: $red;
}

.achievement-number {
	background-image: url('../assets/images/achievement-ribbon.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 130px;
	padding: 20px 0;
	margin: 2rem 0;
}

.achievement-copy {
	margin: 0 auto;
	width: 80%;
	p > a {
		color: $red;
		@include _montserrat-light;
	}
}