.video-container {
	text-align: center;
}
.embed-container {
	margin: 1rem;
	iframe {
		width: 99%;
		height: 300px;
		@include respond-to('md'){
			height: 449px;
		}		
	}
}

.video-title {
	color: $red;
	font-weight: bold;
}
.video-description {
}